<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Author" content="Muhammed Bacalan">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Guild Wars 2 Rich Presence Addon</title>
</head>

<body>
  <header>
    <ul id="nav">
      <li><a href="#usage">Usage</a></li>
      <li><a href="#faq">F.A.Q</a></li>
      <li><a href="#changelog">Changelog</a></li>
    </ul>
  </header>
  <main id="home">
    <h1>Discord Rich Presence<br> for Guild Wars 2</h1>
    <img src="{{ random_image }}" alt="Showcasing screenshot" id="main-ss">
    <div id="features">
      <h2>Features</h2>
      <hr>
      <ul>
        <li>Character name</li>
        <li>Character class</li>
        <li>Current map</li>
        <li>Time spent on current map</li>
        <li>Optional API key support</li>
      </ul>
    </div>
    <a id="download" href="/download/latest">Download</a>
  </main>

  <hr>

  <article id="usage">
    <h1>Usage</h1>
    <p>Simply run the gw2rpc.exe. It will start in your system tray.</p>
    <p>In the config.ini in the program's directory, you can input your API key so that your status can display your elite spec and region [EU/NA] as well.</p>
    <p>The program needs to be running in the background to work. To help with that, in the download there
      is launch_gw2_with_rpc.exe. This script launches both GW2 and the addon. For it to
      work, it needs to be present in GW2FOLDER\addons\gw2rpc. You may then replace
      your normal GW2 shortcut with it for ease of launching.</p>
    <p>You can also put a shortcut to gw2rpc.exe into your autorun so that it runs automatically on Windows boot.</p>
  </article>

  <hr>

  <article id="faq">
    <h1>F.A.Q</h1>
    <p><strong>Q:</strong> Can I get banned for this?</p>
    <p><strong>A:</strong> No, it doesnt interact with the game in any way. It only uses the Mumble API.</p>
    <p><strong>Q:</strong> What API permissions are required for the API key?</p>
    <p><strong>A:</strong> Currently characters, builds, and account are neccesary. In the future more may be added for more features.</p>
  </article>

  <hr>

  <article id="changelog">
    <h1>Changelog</h1>
    <!--Example log
      <details> (add open for latest one)
        <summary><h2>vX.Y</h2></summary>
        <small>Date</small>
          <p>Change 1</p>
          <p>Change 2</p>
          <p>Change 3</p>
      </details>-->
    <details open>
      <summary><h2>v1.0</h2></summary>
      <small>19 December 2017</small>
        <p>First full release</p>
    </details>
    <hr>
    <details>
      <summary><h2>v0.4</h2></summary>
      <small>17 December 2017</small>
        <p>Performance improvements</p>
        <p>Region display (EU/NA) on hover</p>
        <p>Expand context menu</p>
        <p>Fix for status not updating under certain circumstances</p>
    </details>
    <hr>
    <details>
      <summary><h2>v0.3</h2></summary>
      <small>14 December 2017</small>
        <p>Added automatic update checking. Does not auto update!</p>
        <p>Improved logging of errors</p>
        <p>Added regions (default images for instances)</p>
        <p>A notification should GW2RPC crash</p>
        <p>Also, all wintersday activities now have images</p>
    </details>
    <hr>
    <details>
      <summary><h2>v0.2</h2></summary>
      <small>12 December 2017</small>
        <p>GW2RPC now resides in the system tray - there is no console window anymore.</p>
        <p>With this update, there is a new .exe, called GW2_with_rpc.exe This is a convenience script to launch both GW2 and RPC in one click</p>
        <p>For it to work, it needs to be present in %GW2FOLDER%\addons\gw2rpc\ along with gw2rpc.exe.</p>
        <p>You can replace your normal GW2 shortcut with it for easy launch by rightclicking > create shortcut.</p>
    </details>
    <hr>
    <details>
        <summary><h2>v0.1</h2></summary>
        <small>5 December 2017</small>
          <p>New web registry - new maps can be added without needing to update the client</p>
          <p>Which also means all raids are have working images now</p>
          <p>Fractal name display in FOTM (Thanks to QuitarHero)</p>
          <p>Performance improvements</p>
    </details>
    <hr>
  </article>

  <footer>
    <p><a target="_blank" href="https://github.com/Maselkov/GW2RPC">GW2RPC</a> by Maselkov#2365 &amp; N1tR0#0914</p>
    <p><a target="_blank" href="https://github.com/pen-mb/gw2rpc-site">Website</a> by Penemue#8514.</p>
  </footer>

</body>

</html>
