<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <meta name="theme-color" content="#343A40">
  <meta name="author" content="Muhammed Bacalan">
  <meta name="description" content="A Guild Wars 2 addon to enable Discord Rich Presence support!">
  <title>Guild Wars 2 Rich Presence Addon</title>
  <!-- Open Graph Tags -->
  <meta property="og:title" content="Guild Wars 2 Discord Rich Presence Addon">
  <meta property="og:description" content="A Guild Wars 2 addon to enable Discord Rich Presence support!">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.gw2rpc.info">
  <meta property="og:image" content="https://gw2rpc.info/static/img/logo.png">
</head>

<body>
  <header>
    <ul id="nav">
      <li>
        <a href="#usage">Usage</a>
      </li>
      <li>
        <a href="#faq">F.A.Q</a>
      </li>
      <li>
        <a href="#changelog">Changelog</a>
      </li>
    </ul>
  </header>
  <main id="home">
    <h1>Discord Rich Presence
      <br> for Guild Wars 2</h1>
    <img src="{{ random_image }}" alt="Showcasing screenshot" id="main-ss">
    <div id="features">
      <h2>Features</h2>
      <hr>
      <ul>
        <li>Character name</li>
        <li>Character class</li>
        <li>Current map</li>
        <li>Time spent on current map</li>
        <li>API key support</li>
        <li>Show nearest point of interest on map image hover</li>
        <li>Show the boss you're currently fighting in raids</li>
      </ul>
    </div>
    <a id="download" href="/download/latest">Download</a>
    <p>MD5-Sum: b3ace79e72a644a562b58c748a050379</p>
    <p>SHA256-Sum: 7334ea0fcbeadfb5c054b9fa674cecb774b65fa236f6d880e4e3a11ad3b1d407</p>
  </main>

  <hr>

  <article id="usage">
    <h1>Usage</h1>
    <p>Simply run the
      <strong>
        <code>gw2rpc.exe</code>
      </strong>. It will start in your system tray. It needs to be running in background for Rich Presence to work.</p>
    <p>In the config.ini in the program's directory, you can input your API key so that your status can display region (EU/NA)
      and elite spec as well.</p>
    <p>To make starting Rich Presence easier, there is an .exe called
      <strong>
        <code>launch_gw2_with_rpc.exe</code>
      </strong> included in the download. This script launches both GW2 and the RPC addon. For it to work, it needs to be present in
      <strong>
        <code>GW2FOLDER\addons\gw2rpc</code>
      </strong>. You may then replace your normal GW2 shortcut with it for ease of launching.</p>
    <p>You can also put a shortcut to
      <strong>
        <code>gw2rpc.exe</code>
      </strong> into your autorun so that it runs automatically on Windows boot.</p>
  </article>

  <hr>

  <article id="faq">
    <h1>F.A.Q</h1>
    <p>
      <strong>Q:</strong> Can I get banned for this?</p>
    <p>
      <strong>A:</strong> No, it doesn't interact with the game in any way - it utilizes the Mumble API to get the necessary data.</p>
    <p>
      <strong>Q:</strong> What API permissions are required for the API key?</p>
    <p>
      <strong>A:</strong> Currently characters, builds, and account are neccesary. In the future more may be added for more features.</p>
    <p>
      <strong>Q:</strong> How can i use command line arguments with launch_gw2_With_rpc.exe?</p>
    <p>
      <strong>A:</strong> Via a file called Settings.json. See the
      <a href="https://wiki.guildwars2.com/wiki/Command_line_arguments#Using_Command-Line_Arguments">wiki page</a> for more info.</p>
    <p>
      <strong>Q:</strong> Can I use multiple API keys if I have many accounts?</p>
    <p>
      <strong>A:</strong> You can use multiple API keys by separating them via comma in config.ini. No restart needed when switching
      accounts
    </p>
    <p>
      <strong>Q:</strong> Can I disable Points of Interest display?</p>
    <p>
      <strong>A:</strong> There are options in config.ini for disabling it either completely or in WvW</p>
    <p>
      <strong>Q:</strong> Is GW2RPC open source?</p>
    <p>
      <strong>A:</strong> Yes, repository is available
      <a href="https://github.com/Maselkov/GW2RPC">here</a>
    </p>
  </article>

  <hr>

  <article id="changelog">
    <h1>Changelog</h1>
    <details open> 
      <summary><h2>v2.2</h2></summary>
      <small>17 December 2021</small>
      <p>Added commander mode. Configurable in config</p>
      <p>Reworked elite specializations: Will now display without an active GW2 API key</p>
      <p>Added elite specs for EoD</p>
      <p>Updated translations for raids and new elite specializations</p>
      <p>Added missing images for some strike missions, W7 and EotN</p>
      <p>Fixed a crash when using core professions</p>
      <p>Fixed a rare crash when keeping GW2RPC open for a long time</p>
    </details>
    <details> 
      <summary><h2>v2.11</h2></summary>
      <small>8 June 2021</small>
        <p>Added localization for en, es, de, fr</p>
        <p>Added fractal mode</p>
    </details>
    <details>
      <summary>
        <h2>v2.0</h2>
      </summary>
      <small>11 July 2018</small>
      <p>Added raid mode</p>
      <p>Added multi API key support by separating via comma</p>
      <p>Added nearest point of interest display on map hover</p>
      <p>Fixed status not properly clearing on exit</p>
      <p>Fixed crashes</p>
      <p>Update your config.ini to newest one!</p>
    </details>
    <!--Example log
      <details> (add open for latest one)
        <summary><h2>vX.Y</h2></summary>
        <small>Date</small>
          <p>Change 1</p>
          <p>Change 2</p>
          <p>Change 3</p>
      </details>-->
    <details>
      <summary>
        <h2>v1.2</h2>
      </summary>
      <small>14 January 2018</small>
      <p>Fixed all known crashes</p>
    </details>

    <details>
      <summary>
        <h2>v1.1</h2>
      </summary>
      <small>29 December 2017</small>
      <p>Add a setting to display guild tag next to character name - DisplayGuildTag under [Settings] header in config.ini</p>
      <p>Add a setting to automatically close the program when GW2 exits - CloseWithGw2 under [Settings] header in config.ini</p>
      <p>Fix for crash on certain instances</p>
      <p>Fix for not properly exiting on crash</p>
    </details>

    <details>
      <summary>
        <h2>v1.0</h2>
      </summary>
      <small>19 December 2017</small>
      <p>First full release</p>
    </details>

    <details>
      <summary>
        <h2>v0.4</h2>
      </summary>
      <small>17 December 2017</small>
      <p>Performance improvements</p>
      <p>Region display (EU/NA) on hover</p>
      <p>Expand context menu</p>
      <p>Fix for status not updating under certain circumstances</p>
    </details>

    <details>
      <summary>
        <h2>v0.3</h2>
      </summary>
      <small>14 December 2017</small>
      <p>Added automatic update checking. Does not auto update!</p>
      <p>Improved logging of errors</p>
      <p>Added regions (default images for instances)</p>
      <p>A notification should GW2RPC crash</p>
      <p>Also, all wintersday activities now have images</p>
    </details>

    <details>
      <summary>
        <h2>v0.2</h2>
      </summary>
      <small>12 December 2017</small>
      <p>GW2RPC now resides in the system tray - there is no console window anymore.</p>
      <p>With this update, there is a new .exe, called GW2_with_rpc.exe This is a convenience script to launch both GW2 and
        RPC in one click</p>
      <p>For it to work, it needs to be present in %GW2FOLDER%\addons\gw2rpc\ along with gw2rpc.exe.</p>
      <p>You can replace your normal GW2 shortcut with it for easy launch by rightclicking > create shortcut.</p>
    </details>

    <details>
      <summary>
        <h2>v0.1</h2>
      </summary>
      <small>5 December 2017</small>
      <p>New web registry - new maps can be added without needing to update the client</p>
      <p>Which also means all raids are have working images now</p>
      <p>Fractal name display in FOTM (Thanks to QuitarHero)</p>
      <p>Performance improvements</p>
    </details>
  </article>

  <footer>
    <p>
      <a target="_blank" href="https://github.com/Maselkov/GW2RPC">GW2RPC</a> by Maselkov#2365 &amp; N1tR0#0914</p>
    <p>
      <a target="_blank" href="https://github.com/mbacalan/gw2rpc-site">Website</a> by Penemue#8514.</p>
    <p>
      Translations by N1tr0 (de), Seshu (de), TheRaytheone (es), z0n3g (fr)</p>
  </footer>

</body>

</html>
